{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "env": {
      "browser": true,
      "jest/globals": true,
      "node": true
    },
    "globals": {
      "cy": "readonly",
      "beforeEach": "readonly",
      "describe": "readonly",
      "it": "readonly"
    },
    "plugins": ["jest", "prettier", "react-hooks"],
    "rules": {
      "prettier/prettier": ["error"],
      "no-console": "off",
      "no-use-before-define": 0,
      "no-unused-vars": 0,
      "prefer-destructuring": 0,
      "react/jsx-filename-extension": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "react/destructuring-assignment": 0,
      "react/forbid-prop-types": 0,
      "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
      "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
      "no-underscore-dangle": 0,
      "jsx-a11y/no-noninteractive-element-interactions": 0,
      "func-names": 0,
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "sort-keys": "error",
      "no-param-reassign": ["error", { "props": false }]
    }
  }
  